
mat-toolbar{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  .basket{
    cursor: pointer;
    display: flex;
    flex-direction: unset;
    justify-content: center;
    align-items: center;

    p{
      margin: 0px !important;
    }

  }

}
