mat-card{
  width:30%;
  margin-bottom: 1rem;
  img{
    height: 20rem;
  }
}

.all-products{
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
}

.search-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.search-full-width {
  width: 100%;
}
