mat-card {
  width: 30%;
  margin-bottom: 1rem;
  img {
    height: 20rem;
  }
}

.all-products {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
}

.search-filter {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
