<div class="search-filter">
  <mat-form-field class="search-full-width" appearance="fill">
    <mat-label>Search</mat-label>
    <input
      matInput
      placeholder="search"
      [(ngModel)]="searchWord"
      (change)="searchByValue()"
    />
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Category</mat-label>
    <mat-select
      required
      [(ngModel)]="filterOption"
      (selectionChange)="filterByCategory()"
    >
      <mat-option>--</mat-option>
      <mat-option
        *ngFor="let category of categories$ | async"
        [value]="category"
      >
        {{ category }}
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>
<app-single-product
  [allProducts]="allProducts"
  (addClicked)="onAddToBasket($event)"
></app-single-product>
