mat-card{
  width:30%;
  margin-bottom: 1rem;
  img{
    height: 20rem;
  }
}

.allProductsInBasket{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
